$halerium-core-black: #000000;
$halerium-core-white: #ffffff;
$halerium-core-blue: #4a5ff0;
$halerium-light-1: #f0f2fe;
$halerium-light-4: #a8b2f7;
$halerium-dark-4: #5a5875;

/* ### responsive design mixin ### */
@mixin breakpoint($point) {
  @if $point ==mobileonly {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

/* hide scroll bar */

/* webkit based browsers */
.chat::-webkit-scrollbar,
.container::-webkit-scrollbar,
.app::-webkit-scrollbar,
ul::-webkit-scrollbar {
  display: none;
}

/* good old IE */
.chat,
.container,
.app,
ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'IntroCond-RegularAlt';
  src: url(../font/ic_regular_alt.otf);
}

@font-face {
  font-family: 'IntroCond-SemiBoldAlt';
  src: url(../font/ic_semibold_alt.otf);
}

.container {
  justify-content: flex-start;
  width: 48vw;
  height: inherit;
  margin: 0;
  padding: 0;

  @include breakpoint(mobileonly) {
    width: 100vw;
    padding: 8px;
  }
}

.logo {
  align-self: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: 151px;
  height: 33px;
  background-image: url(../img/logo_chat.svg);
  background-size: cover;
  margin: 28px 0 27px 0;

  @include breakpoint(mobileonly) {
    width: 110px;
    height: 24px;
    margin: 7px 0 10px 0;
  }
}

.app {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 152px);
  background-color: $halerium-light-1;
  border-radius: 16px;
  padding: 16px 0 0 0;
  overflow-y: scroll;
}

.chat {
  display: flex;
  width: 100%;
  border: none;
  border-radius: 9px;
  overflow-y: scroll;
  margin-bottom: 100px;

  ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
    padding: 0 40px;

    @include breakpoint(mobileonly) {
      padding: 0 10px;
    }
  }

  li {
    overflow-wrap: anywhere;
    color: white;
    padding: 16px;
    border-radius: 9px;
    max-width: 75%;

    @include breakpoint(mobileonly) {
      max-width: 95%;
    }

    pre {
      white-space: pre-wrap;
      background: $halerium-core-blue;
      color: $halerium-core-white;
      padding: 9px;
      border-radius: 9px;
    }
  }

  .msg-walter {
    align-self: flex-start;
    background-color: $halerium-core-white;
    color: $halerium-core-black;
    margin: 0 0 16px 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
    white-space: pre-line; // makes sure \n is interpreted as linebreak
  }

  .msg-user {
    align-self: flex-end;
    background-color: $halerium-core-blue;
    color: $halerium-core-white;
    margin: 0 0 16px 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
    white-space: pre-line; // makes sure \n is interpreted as linebreak
  }

  .sender-walter,
  .sender-user {
    font-size: 10px;
    line-height: 22px;
    color: $halerium-dark-4;
    padding: 0;

    .name {
      font-family: IntroCond-SemiBoldAlt;
    }

    .timestamp {
      font-family: IntroCond-RegularAlt;
    }
  }

  .sender-walter {
    align-self: flex-start;
  }

  .sender-user {
    align-self: flex-end;
  }
}

.user-interaction-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  bottom: 48px;
  width: calc(48vw - (16px * 2)); // chat width - 2 * 16 margin
  max-height: 25vh;
  height: 64px;
  margin: 16px;
  border-radius: 9px;
  background-color: $halerium-core-white;

  @include breakpoint(mobileonly) {
    width: calc(100vw - ((8px + 10px) * 2)); // chat width - 2 * (8 padding + 10)  margin
    margin: 16px 10px;

  }

  .user-input-container {
    flex-grow: 1;
    margin: 0;
  }

  .user-input {
    position: absolute;
    bottom: 0px;
    margin: 0;
    background-color: $halerium-core-white;
    font-family: IntroCond-RegularAlt;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
    min-height: 64px;
    max-height: 25vh;
    width: 100%;
    padding: 21px calc(16px + 48px) 21px 16px; // right padding: 16px plus button width
    border: none;
    border-radius: 9px;
    resize: none;
    overflow: auto;
  }

  .user-input::placeholder {
    font-family: IntroCond-SemiBoldAlt;
    font-size: 14px;
    color: $halerium-light-4;
    letter-spacing: 1.75px;
    line-height: 22px;
  }

  .user-input:focus {
    color: $halerium-core-black;
    outline: none;
  }

  .send {
    position: inherit;
    bottom: 0;
    cursor: pointer;
    margin: 8px;
    height: 48px;
    width: 48px;
    background-image: url(../img/icon-send.svg);
    background-size: cover;
    background-color: $halerium-core-blue;
    border-radius: 9px;
    border: none;
  }

  .send:disabled {
    background-color: $halerium-light-4;
  }

  //   #upload {
  //     cursor: pointer;
  //     height: inherit;
  //     margin-left: 5px;
  //     color: black;
  //     font-size: 1rem;
  //     font-weight: bold;
  //     border: 2px solid lime;
  //     background-color: lime;
  //     border-radius: 15px 15px;
  //     min-width: fit-content;
  //     width: 10%;
  //   }

  //   #send:active,
  //   #send:hover {
  //     border-color: $bgcolor_btn_active;
  //     background-color: $bgcolor_btn_active;
  //   }

  //   #upload:active,
  //   #upload:hover {
  //     border-color: limegreen;
  //     background-color: limegreen;
  //   }

  //   #send:disabled,
  //   #upload:disabled {
  //     border-color: $color_chat_border;
  //     background-color: $color_chat_border;
  //   }
  // }
}

// .loading-container {
//   padding: 0 30px 0 100px;
// }

.loading-dots {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: $halerium-core-blue;
  color: $halerium-core-blue;
  animation: loading-dots 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.loading-dots::before,
.loading-dots::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading-dots::before {
  left: -10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: $halerium-core-blue;
  color: $halerium-core-blue;
  animation: loading-dots 1s infinite alternate;
  animation-delay: 0s;
}

.loading-dots::after {
  left: 10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: $halerium-core-blue;
  color: $halerium-core-blue;
  animation: loading-dots 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes loading-dots {
  0% {
    background-color: $halerium-core-blue;
  }

  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}